@model TiendaCartas_2.Models.IndexViewModel
]using TiendaCartas_2.Controllers

@{
    ViewBag.Title = "Perfil";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Detalle de la cuenta</h4>
    <hr />
    <div class="img-circle">
        <img src="~/Images/FotoDefault.jpg" />
    </div>
    <dl class="dl-horizontal">        
        <dd>
            <p>Contraseña: </p>           
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
            }           
        </dd>
    </dl>
    <dl class="dl-horizontal">       
        <dd>            
            <p>Administrar Productos: </p>
            @if (User.IsInRole("josuesoto.co@gmail.com"))
            {
                @Html.ActionLink("Gestionar Productos", "Index", "productos")                
            }          
        </dd>
    </dl>
</div>
