*{
    position:relative;
}


body {
    margin: 20px;
    background-image: url('../../Images/alice_background.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

                
            
      }
 .container.body-content{
    width: auto;
    height:auto;
    margin-left: 290px;
    background-color:mediumaquamarine;
    padding:5px;
 }
.cuerporec li.titulonavleft {
                font-size: 30pt;
                font-family: Comic Sans MS;
                list-style:none;
                list-style-image:none;
                font: bolder;
                
            }
.cuerporec{
                float:left;
                background-color:aliceblue;
                font-size:15pt;
                font-family:'Comic Sans MS';
                border:solid 2px green;
                
                
            }

.cuerporec li {
                    
                    margin: 6px;
                    border-bottom: solid 2px green;
                    padding: 5px;
                    list-style-image: url("../../Images/as-de-pica_opt.png")
                    
                    
                }
.cuerporec a:hover{
                text-decoration:none;
                font-weight:bolder;
                color: red;
            }
li.ultimo{
                border-bottom:none;
            }

      
