*{
    position:relative;
}


body {
    margin: 20px;
    background:  url('../../Images/left_background.png') no-repeat left top fixed, url('../../Images/right_background.png') no-repeat right top fixed;

 
  

                
            
      }
 .container.body-content{
    width: 900px;
    height:600px;
    margin-left: 400px;
    background-color:white;
    padding:5px;
 }
.cuerporec li.titulonavleft {
                font-size: 30pt;
                font-family: Comic Sans MS;
                list-style-image:none;
                font: bolder;
                
            }
.cuerporec{
                float:left;
                margin-left:180px;
                background-color:aliceblue;
                font-size:15pt;
                font-family:'Comic Sans MS';
                border:solid 2px green;
                
                
            }

.cuerporec li {
                    
                    margin: 6px;
                    border-bottom: solid 2px green;
                    padding: 5px;
                    list-style-image: url("../../Images/as-de-pica_opt.png")
                    
                    
                }
.cuerporec a:hover{
                text-decoration:none;
                font-weight:bolder;
                color: red;
            }
li.ultimo{
                border-bottom:none;
            }

      
