*{
    position:relative;
}


body {
    margin: 20px;
    background:  url('../../Images/left_background.png') no-repeat left top fixed , url('../../Images/right_background.png') no-repeat right top fixed;
               
      }
 .container.body-content{
    width: 900px;
    height:6000px;
    margin-left: 400px;
    background-color:white;
    padding:5px;
 }
.cuerporec li.titulonavleft {
                font-size: 30pt;
                font-family: Comic Sans MS;
                list-style-image:none;
                font: bolder;
                
            }
.cuerporec{
                float:left;
                margin-left:180px;
                background-color:aliceblue;
                font-size:15pt;
                font-family:'Comic Sans MS';
                border:solid 2px green;
                
                
            }

.cuerporec li {
                    
                    margin: 6px;
                    border-bottom: solid 2px green;
                    padding: 5px;
                    list-style-image: url("../../Images/as-de-pica_opt.png")
                    
                    
                }
.cuerporec a:hover{
                text-decoration:none;
                font-weight:bolder;
                color: red;
            }
li.ultimo{
                border-bottom:none;
            }




.diy-slideshow{
position: relative;
display: block;
overflow: hidden;
}
figure{
position: absolute;
opacity: 0;
transition: 1s opacity;
}
figcaption{
position: absolute;
font-family: sans-serif;
font-size: .8em;
bottom: .75em;
right: .35em;
padding: .25em;
color: #fff;
background: rgba(0,0,0, .25);
border-radius: 2px;
}
figcaption a{
color: #fff;
}
figure.show{
opacity: 1;
position: static;
transition: 1s opacity;
}
.next, .prev{
color: #fff;
position: absolute;
background: rgba(0,0,0, .6);
top: 50%;
z-index: 1;
font-size: 2em;
margin-top: -.75em;
opacity: .3;
user-select: none;
}
.next:hover, .prev:hover{
cursor: pointer;
opacity: 1;
}
.next{
right: 0;
padding: 10px 5px 15px 10px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}
.prev{
left: 0;
padding: 10px 10px 15px 5px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}



      
