body {
}
input{
    display:block;
    padding:7px;
    width:600px;
    margin:10px;
    font-size: 15pt;
}
input[type="submit"]{
    background: linear-gradient(#12C5E5,#128DE5);
    cursor:pointer;
    opacity:0.7;
    border-radius:20px;
    margin:0;
    }
input[type="submit"]:hover{
    opacity:1;
}
input[type="submit"]:active{
    transform: scale(0.95);
    background: linear-gradient(#12C5E5,#128DE5);
    }

