@{
    ViewBag.Title = "Home";
}

    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active carousel-image">
                    <img src="http://i.imgur.com/cWkG5Bc.jpg Pokemon Tournament" alt="Image">
                    <div class="carousel-caption">
                        <h3>MORE WORDS</h3>
                        <p>WORDS</p>
                    </div>
                </div>

                <div class="item carousel-image">
                    <img src="http://i.imgur.com/cWkG5Bc.jpg Image Maybe" alt="Image">
                    <div class="carousel-caption">
                        <h3>More Sell $</h3>
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="main-body text-center">
            <h3 class="sectionTitle"> Productos</h3><br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="central-image"><img src="http://i.imgur.com/JE7WF9T.png" class="img-responsive" alt="Image"></div>
                    <p>Current Project</p>
                    <h1>$1000</h1>
                </div>
                <div class="col-sm-4">
                    <div class="central-image"><img src="http://i.imgur.com/WVp6DFA.png" class="img-responsive" alt="Image"></div>
                    <p>Project 2</p>
                </div>
                <div class="col-sm-4">
                    <div class="central-image"><img src="http://i.imgur.com/YXSeNgT.png" class="img-responsive" alt="Image"></div>
                    <p>Project 3</p>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="central-image"><img src="http://i.imgur.com/6PsKNVc.png" class="img-responsive" alt="Image"></div>
                    <p>Current Project</p>
                </div>
                <div class="col-sm-4">
                    <div class="central-image"><img src="http://i.imgur.com/JE7WF9T.png" class="img-responsive" alt="Image"></div>
                    <p>Project 2</p>
                </div>
                <div class="col-sm-4">
                    <div class="central-image"><img src="http://i.imgur.com/YXSeNgT.png" class="img-responsive" alt="Image"></div>
                    <p>Project 3</p>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="central-image"><img src="http://i.imgur.com/YXSeNgT.png" class="img-responsive" alt="Image"></div>
                    <p>Current Project</p>
                </div>
                <div class="col-sm-4">
                    <div class="central-image"><img src="http://i.imgur.com/6PsKNVc.png" class="img-responsive" alt="Image"></div>
                    <p>Project 2</p>
                </div>
                <div class="col-sm-4">
                    <div class="central-image"><img src="http://i.imgur.com/WVp6DFA.png" class="img-responsive" alt="Image"></div>
                    <p>Project 3</p>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="central-image"><img src="http://i.imgur.com/JE7WF9T.png" class="img-responsive" alt="Image"></div>
                    <p>Current Project</p>
                </div>
                <div class="col-sm-4">
                    <div class="central-image"><img src="http://i.imgur.com/YXSeNgT.png" class="img-responsive" alt="Image"></div>
                    <p>Project 2</p>
                </div>
                <div class="col-sm-4">
                    <div class="central-image"><img src="http://i.imgur.com/6PsKNVc.png" class="img-responsive" alt="Image"></div>
                    <p>Project 3</p>
                </div>

            </div>



        </div>

        <div class="cuerporec text-center">
            <h3 style="margin-bottom:30px">Comunidad</h3>
            <div class="col-sm-4">
                <div class="well">
                    <p>Some text..</p>
                </div>
                <div class="well">
                    <p>Some text..</p>

                </div>
                <div class="well">
                    <p>Some text..</p>
                </div>
                <div class="well">
                    <p>Some text..</p>

                </div>
                <div class="well">
                    <p>Some text..</p>
                </div>
                <div class="well">
                    <p>Some text..</p>

                </div>
                <div class="well">
                    <p>Some text..</p>
                </div>
                <div class="well">
                    <p>Some text..</p>

                </div>
            </div>
        </div>
    </div>
