@model TiendaCartas_2.Models.ModelQuery
@{
    ViewBag.Title = "SearchB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="deSearch">
    <h1>Sistema de búsqueda</h1>
        <form name="myForm" action="~/Search/SearchC">
        @Html.TextBoxFor(model => model.nombrePro, new { name = "fname", type = "search", size = "40", placeholder = "Search" })
        <input id="submit" type="submit">
    </form>
</div>
<style>
    .deSearch{
        margin-left:35%;
        margin-top:10%;
    }
</style>




