
@{
    ViewBag.Title = "SearchB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
index()
<div class="SearchController">
    <input type="search" value="Search" placeholder="Búsqueda" size="30" />
    
</div>



    <div >
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

            <a>Resultados: {{Search}}</a>
        </div>
    </div>




