@model TiendaCartas_2.Models.ModelQuery
@{
    ViewBag.Title = "SearchB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
            <div class="DeSearch">
                        <form name="myForm" action="~/Search/SearchC">
                            @Html.TextBoxFor(model => model.nombrePro, new { name = "fname", type = "search", size = "30", placeholder = "Search" })
                            <input id="submit" type="submit">
                        </form>
                </div>

<!--<select class="DeSearch" name="productos">-->
       
<!--</select>-->

    <div >
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

            <a>Resultados: {{Search}}</a>
        </div>
    </div>




