@model IEnumerable<TiendaCartas_2.Models.ModelQuery>
@{
    ViewBag.Title = "SearchC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
</br></br>
<style>
    table, th, td {
        margin-left: 15%;
        background-color: #D8D8D8;
  }
</style>
<table style="width:70%">
    <tr>
        <th>Nombre producto</th>
        <th>Foto producto</th>
    </tr>
    @foreach (var productos in Model)
    {
     <tr>
        <td>@Html.DisplayFor(modlItem => productos.nombrePro)</td>
        <td><img src="~/Images/@Html.DisplayFor(modelItem => productos.fotoPro)" width="120" height="150"/></td>
     </tr>
    }
   
</table>    
