
@{
    ViewBag.Title = "SearchB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<select class="DeSearch" name="productos">
        @foreach (var productos in DBNull.producto)
        {

        }
</select>

    <div >
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

            <a>Resultados: {{Search}}</a>
        </div>
    </div>




