
@{
    ViewBag.Title = "SearchB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <div >
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

            <a>Resultados: {{Search}}</a>
        </div>
    </div>




