@using TiendaCartas.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Iniciar sesión";
}
<head>
    <link type="text/css" href="~/Content/estiloLog.css" media="all" rel=" stylesheet"/>
</head>

<h2>@ViewBag.Title.</h2><br />
<div class="iniciarSesion">
    <form>
    <input type="text" placeholder="&#128100; Usuario" name="usuario" />
    <br /> 
    <input type="password" placeholder="&#128272; Contraseña" name="clave" />  
   
    <br />
    <input type="submit" class="btn-default" value="Iniciar Sesion"/>
     </form>
</div>