
@{
    ViewBag.Title = "Carrito de compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Carrito</h2>

    <div ng-app="">
        <label>Nombre: </label>
        <input type="text" ng-model= "nombre" />
        
        <p>Hola {{nombre}}</p>
    </div>
    <script src="http://ajax.googleapis.com/ajax//libsangularjs/1.4.8/angular.min.js"></script>


